*, 
*:before, 
*:after{
	box-sizing: border-box;
}

body{
	margin: 0;
	color: #6d5384;
	font: 300 13px/2.3 'Roboto', sans-serif;
}

img{
	border: 0;
}

a{
	color: #fff;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.page{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.conteiner{
	width: 1140px;
	margin: 0 auto;
}


.top-section{
	background: #69507f url(../image/bg-purple.png);
	color: #fff
	
}

.header{
	overflow: hidden;
}

.logo{
	float: left;
}

.nav{
	float: right;
	z-index: 50;
	position: 


}

.nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav ul:after{
	content: '';
	display: block;
	clear: both;
}

.nav li{
	float: left;
	position: relative;
	margin: 0 0 0 10px

}
.nav li a{
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	border: 1px solid #9884aa;
	border-radius: 4px;
	width: 140px;
	padding: 15px 10px;
	font: 900 18px/23px 'Montserrat', sans-serif;
	display: block;
	text-align: center;
	position: relative;
	transition: all 0.3s ease;
	float: left;
}

.nav li a:after{
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 0 8px;
	border-color: #f7df59 transparent transparent transparent;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	/*display: none;*/
	/*visibility: hidden;*/
	opacity: 0;
	transition: all 0.3s ease 0.3s;
}

.nav li a:hover{
	background: #f7df59;
	border-color: #f7df59;
	box-shadow: 0 3px 0 0 #4c2f65;

}

.nav li a:hover:after{
	/*display: block;*/
	/*visibility: visible;*/
	top: 100%;
	opacity: 1;
}

.second-layer,
.third-layer{						
 	position: absolute;
 	top: calc(100% + 8px);
 	left: 0;
 	padding: 0;
 	margin: 0;
 	list-style: none;
 	/*display: none;*/
 	opacity: 0;
 	visibility: hidden;
 	transition: opacity 1s ease;
 	background: #69507f url(../image/bg-purple.png);
 }
 .third-layer{
 	left: 100%;
 	top: 0;
 }

 .second-layer:after{
 	content: '';
 	display: block;
 	clear: both;
 }

 .second-layer li,
 .third-layer li{					
	/*float: none;*/
	float: left;
	position: relative;
 }

.second-layer li a{
	float: left;
}


 .nav li li a,
 .nav li li li a{					
 	float: none;
 	display: block;
 	
 }

 .nav li:hover .second-layer,
 .second-layer li:hover .third-layer{				
 	/*display: block;*/
 		opacity: 1;
 		visibility: visible;
 }

 .nav li:hover a{				
 	background: #f7df59;
 }

.nav li:hover  li a{			
 	background: none;
 }

.second-layer li:hover .second-a{				
 	background: #f7df59;
 }

.second-layer li li a:hover{
	background: #f7df59;
}

.main-section{
	background: #ddd1e8 url(../image/bg-board.png);
	height: 400px;
}

